[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/remotery"]
	path = external/remotery
	url = https://github.com/Celtoys/Remotery.git
[submodule "external/variant"]
	path = external/variant
	url = https://github.com/mpark/variant.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
